{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : External Iceberg tables == #}
{# == Node Type Description    : This node helps to create an externally managed iceberg table and refreshes the latest snapshot of the iceberg table == #}

# Create table first
{% if desiredState == currentState %}

{{ stage('Nothing to do.') }}
select 1 = 0

{% elif (desiredState and currentState == undefined) or (currentState != desiredState and currentState != undefined)%}


          {%set extvol = '' %}
          {%set catalogval = '' %}
          {%set catalogtablename ='' %}
          {%set catalogdbname ='' %}
          {%set metafilepath ='' %}
          {%set baseloc ='' %}

        #External volume
           {%if desiredState.config.extvol != '' %}
            {%set extvol =  desiredState.config.extvolume %}
          {%endif%}
        
        #Catalogintegration

          {%if desiredState.config.catint != '' %}
            {%set catalogval =   desiredState.config.catint %}
          {%else%}
            {%set catalogval =   'SNOWFLAKE' %}
          {%endif%}

        #Catalogtablename

          {%if desiredState.config.cattable != '' and desiredState.config.tcatalog == 'AWS Glue' %}
            {%set catalogtablename = desiredState.config.cattable %}
          {%endif%}

        #Catalogdbname
          {%if desiredState.config.catdb != '' and desiredState.config.tcatalog == 'AWS Glue' %}
            {%set catalogdbname = desiredState.config.catdb %}
          {%endif%}

        #Metadatafilepath
          {%if desiredState.config.metafilepath != '' and desiredState.config.tcatalog == 'Object storage' %}
            {%set metafilepath =  desiredState.config.metafilepath %}
          {%endif%}

        
    
         {{ stage('Create Iceberg Table', true, "sql", "create") }}
         
         CREATE OR REPLACE ICEBERG TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}

        
        {%if extvol != '' %} EXTERNAL_VOLUME = '{{extvol}}' {%endif%}
        {%if catalogval != '' %} CATALOG = '{{catalogval}}' {%endif%}
        {%if catalogtablename != ''%}CATALOG_TABLE_NAME = '{{catalogtablename}}' {%endif%}
        {%if catalogdbname != ''%}CATALOG_NAMESPACE = '{{catalogdbname}}' {%endif%}
        {%if metafilepath != ''%} METADATA_FILE_PATH= '{{metafilepath}}'{%endif%}
        
	    {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'
      
    {% endif %}		    
 
{%elif  currentState != undefined and desiredState == undefined%}

    {# Table or View Name #}
    {% set targetObjectDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {% set targetObjectSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) %}
           
        {{ stage('Drop iceberg table', true, "sql", "drop") }}
         DROP ICEBERG TABLE IF EXISTS {{ fullyQualifiedTargetObjectName }}
	  
{%else%}

{{ stage('Nothing to do.') }}
select 1 = 0
	  
{%endif%}

